.menu {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    margin: auto;
    padding: auto;
    list-style-type: none;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;

}
.menu li{
    position: relative;
    top: 10%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: -10;
    margin-right: -100;
    width: 0em;
    list-style-type: none;

}
